@import '../../../styles/colors.less';

.currentForecastContainer {
  position: relative;
  width: 100%;
}

.currentForecast {
  display: flex;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 50px 20% 0 20%;
  max-width: 1000px;
}

.header {
  color: @white;
  text-align: center;
  width: 100%;
}

.fiveDayForecast {
  background-color: @white;
  display: flex;
  flex-direction: row;
  text-align: center;
}

@media screen and (max-height: 900px) {
  .fiveDayForecast {
    flex-direction: column;
  }
  .currentForecast {
    position: relative;
  }
  .currentForecastContainer {
    background-color: @white;
    border-bottom: 2px solid @light-gray;
  }
}

@media screen and (max-width: 1000px) {
  .fiveDayForecast {
    flex-direction: column;
  }

  .frame {
    margin: 25px 15% 0 15%;
  }
}

@media screen and (max-width: 800px) {
  .fiveDayForecast {
    flex-direction: column;
  }

  .frame {
    margin: 25px 15% 0 15%;
  }
}

@media screen and (max-height: 670px) {
  .frame {
    margin: 25px 10% 0 10%;
  }
  .fiveDayForecast {
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .frame {
    margin: 25px 5% 0 5%;
  }
}

@media screen and (max-height: 670px) and (max-width: 400px) {
  .fiveDayForecast {
    flex-direction: column;
  }

  .frame {
    margin: 25px 10% 0 10%;
  }
}
