.cityContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.city {
  margin-left: 0.6rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.icon {
  padding-bottom: 0.46rem;
}
