@import '../../../styles/colors.less';

.currentForecast {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1rem 1.5rem;
}

.temp {
  color: #65aed5;
  font-size: 4rem;
}

.forecastDescription {
  color: @light-blue;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: auto;
  margin-left: 1rem;
  margin-top: auto;
}

.icon {
  margin: auto 0 auto 0.75rem;
}

@media screen and (max-width: 600px) {
  .temp {
    color: #65aed5;
    font-size: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .currentForecast {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .currentForecast {
    justify-content: space-between;
    width: 100%;
  }
}
