@import "../../../styles/colors.less";

.card {
  display: flex;
  margin: auto;
  padding: 2rem 0;
}

.icon {
  margin: 0.5rem 0;
}

.day {
  font-weight: 700;
  color: @gray;
}

.temp {
  color: @gray;
  font-size: 2rem;
}
