@import "../../../styles/colors.less";

.cityImage {
  background-image: url("/dallas.svg");
  background-position: bottom;
  // background-size: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.frame {
  margin: 5% 20% 8% 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.locationInfo {
  text-align: center;
  width: 100%;
  color: @white;
}

.fiveDayForecast {
  display: flex;
  text-align: center;
  background-color: @white;
}
