@import '../../../styles/colors.less';

.imageContainer {
  position: relative;
}

.cityImage {
  display: flex;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.frame {
  margin: 5% 20% 8% 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.locationInfo {
  text-align: center;
  width: 100%;
  color: @white;
}

.fiveDayForecast {
  display: flex;
  text-align: center;
  background-color: @white;
}
